node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.pnp.*

# Node
node_modules
.nvm
/bots/node_modules/
package-lock.json

# macOS
.DS_Store
